.menu a
    text-decoration: none
    color: inherit
    position: relative
    margin-right: 44px
    

.menu--label
    margin-left: 50px

.onlyonlowres
    display: none
body
    margin: 0px
    margin-top: 40px
    width: 100%
    overflow-x: hidden
    position: absolute
  
.menu
    top: 0px 
    position: fixed
    width: 100%
    text-align: right
    font-size: 40px
    z-index: 1
    background-image: linear-gradient(#11eeee, #bbeeee, #11eeee)
    padding-top: 10px
    padding-bottom: 10px
    text-shadow: 3px 3px #ffffff
    
       
.block
    display: block !important
    height: 40em
    width: 100%
    margin-top: 30px
    padding-right: 10%
    padding-left: 10%

.menu--label
    position: relative
    left: 0px
    float: left
.menu--button
    position: relative
    
.active
    border-bottom: 5px solid #333
    color: #aa4444 !important


.menu--colapser
    list-style-type: none
    display: inline

.menu--colapser > li
    display: inline




@media screen and (max-width: 1000px)
    .menu * //.menu--btn
        //font-size: 1em
        display: block
        width: 100%
        margin: 0px 0px 0px 0px
        left: 0px
        right: 0px
        padding: 0px 0px 0px 0px
        top: 0px
        text-align: center
        float: none
        font-weight: 444
        text-shadow: 2px 2px #ffffff

    .menu
        margin: 0px 0px 0px 0px
        padding: 0px 0px 0px 0px
        
    .onlyonlowres
        display: block
        padding: 0px 0px 0px 0px
        margin: 0px 0px 0px 0px
        text-align: center
        width: 100%
    .menu > .menu--label
        display: none
    .menu > .colapsed > .menu--colapser___btn
        display: none
    